@import "global";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;

  .input-content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    input {
      width: 100%;
      margin-left: 0.65rem;
      border: none;
      border-bottom: 2px solid $primary-color;
      padding: 0.25rem 0;
      font-size: 1rem;
      letter-spacing: 2px;
      margin-bottom: 1rem;

      ::placeholder {
        color: $secundary-color;
      }
    }
  }
  .form-divider {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: $secundary-color;
    border-radius: 100%;
    margin-bottom: 0.5rem;
    align-self: flex-start;
    margin-top: 0.5rem;
    margin-left: 0.45rem;
  }
}
