@import "global";

.register-container {
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-content {
    background-color: $background-color;
    width: 40%;
    padding: 1rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .register-header-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    h2 {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 748px) {
  .register-container {
    .register-content {
      width: 90%;
    }
  }
}
